################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delivery.Api/.vs/Delivery.Api/FileContentIndex
